.wrapper {
  margin-bottom: 28px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-weight: 600;
}

.input {
  padding: 12px;

  width: 100%;

  border-radius: 8px;

  border: 1px solid #bdbdbd;
}

.input:focus {
  outline: none;
  border-color: royalblue;
}
